<!DOCTYPE html>
<html>
<head>
  <title>ChessApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Add in mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <%= render 'layouts/header' %>
<!-- Required by Devise for notification purposes -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Begin outer BS3 fluid container -->
<div class="container-fluid">
  <%= yield %>
</div>
<!-- End outer BS3 fluid container -->

</body>
</html>
